
body{
    background-image: url('img/fundo.png');
    font: 16px Arial, helvetica, sans-serif;
}

#principal{
    width: 900px;
}

#navegacao{
    background-color: #c5c5b2;
    padding: 15px;
}
#navegacao ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

#navegacao a{
    text-decoration: none;
    color: #4B566A;
    font-weight: bold;
}

#navegacao a:hover{
    opacity: 70%;
}

#sobre{
    background-color: #e8e8d9;
    padding: 10px;
    margin-bottom: 10px;
}

#sobre img{
    border: 10px solid #c3c3ae;
}

#sobre h2{
    color: #828271;
    font-size: 1.2em;
}

#rodape h4{
    text-align: center;
}




